{% extends 'base.html.twig' %}

{% block title %}Makes list:{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Makes list:</h1>

    <select name="makes" id="makes-list">
        <option value=""></option>
        {% for make in makes %}
            <option value="{{ make.code }}">
                {{ make.description }}
            </option>
        {% endfor %}
    </select>
</div>

<div id="results" style="display: none">
    <h3>Results:</h3>
    <ul>
        <li value="template"></li>
    </ul>
</div>
<h2 id="no-results" style="display: none">No results found</h2>


<script>
    var vehicleTypeCode = '{{ vehicle_type_code }}';
</script>
{% endblock %}

