{% extends 'base.html.twig' %}

{% block title %}Vehicle types:{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Vehicle types:</h1>

    <ul>
        {% for type in vehicle_types %}
            <li>
                <a href="{{ path('makes', {typeCode: type.code}) }}">{{ type.description }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
