<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="/js/jquery-3.5.0.min.js"></script>
            <script src="/js/makes.js"></script>
        {% endblock %}
    </body>
</html>
